*, ::after, ::before {
	box-sizing: border-box;
}

body {

	margin: 0;
	padding: 0;
	background-color: #eee;
	color: #3C4858;
}

img {

	vertical-align: middle;
	border-style: none;
}

.container {

	width: 100%;
	padding-right: 20px;
	padding-left: 20px;
	margin-right: auto;
	margin-left: auto;
}

.text-center {

	text-align: center;
}

.image-fluid {

	max-width: 100%;
	height: auto;
}

.kitten {

	border-radius: 8px;
	max-width: 100%;
	height: auto;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
	margin: 0 auto;
	overflow: hidden;
	margin-bottom: 20px;
}